{% extends "base.html" %}

{% block title %}Добавить ингредиент{% endblock %}

{% block content %}
    <h2>Ингредиент</h2>
    <form method="post">
        {% csrf_token %}
        {% if not "/delete/" in request.path %}
            {{ form.as_p }}
        {% else %}
            <p>{{ data.name }}</p>
        {% endif %}
        <input class="item-button" type="submit" value="Отправить">
    </form>
    {% with data=form.instance %}
        {% if form.is_valid %}
            ID новой записи в БД: {{ data.id }}
        {% endif %}
    {% endwith %}
{% endblock %}