{% extends "base.html" %}

{% block title %}Добавить новый рецепт{% endblock %}

{% block content %}
    <h2>Добавление ингредиента</h2>
    <form method="post">
        {% csrf_token %}
        {% if not "/delete/" in request.path %}
            {{ form.as_p }}
        {% else %}
            <p>{{ data.ingredient_name }}</p>
        {% endif %}
        <input class="item-button" type="submit" value="Отправить">
    </form>
    {% with data=form.instance %}
        {% if form.is_valid %}
            Ингредиент {{data.ingredient_name}} добавлен
        {% endif %}
    {% endwith %}
{% endblock %}