{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <p>Автор: {{author}}</p>
    {% load static %}
    <img class="recipe-page__img" src="{% static recipe_url %}" alt="{{title}}">
    <div class="recipe-page__description">
        <section>
            <h2>Ингредиенты</h2>
            <ul class="ingredients">
                {% for ingredient in ingredients %}
                {% load static %}
                <li class="ingredients__item">
                    {{ingredient.ingredient.name}}
                    {% if ingredient.weight == 0 %}
                        {{ingredient.count}} шт
                    {% else %}
                        {{ingredient.weight}} гр
                    {% endif %}
                </li>
                {% endfor %}
                Вес готового продукта: {{ready_weight}} гр
            </ul>
        </section>
        <section>
            <h2>Шаги по приготовлению</h2>
            <p>{{steps}}</p>
        </section>
    </div>
    <a class="back-link" href="{% url 'index'%}">Назад</a>
    <a class="recipe_action_link" href="{% url 'recipe_add' recipe_id %}">Добавить ингредиент</a>
    <a class="recipe_action_link" href="{% url 'recipe_edit' recipe_id %}">Редактировать рецепт</a>
    <a class="recipe_action_link" href="{% url 'recipe_delete' recipe_id %}">УДАЛИТЬ РЕЦЕПТ!</a>
{% endblock %}
