{% extends "base.html" %}

{% block title %}Добавить новый рецепт{% endblock %}

{% block content %}
    <h2>Рецепт</h2>
    <form method="post">
        {% csrf_token %}
        {% if not "/delete/" in request.path %}
            {{ form.as_p }}
        {% else %}
            <p>{{ data.name }}</p>
        {% endif %}
        <input class="item-button" type="submit" value="Отправить">
    </form>
    Ингреддиенты
    <table class="ingredients_table">
        <thead>
            <td>Название</td>
            <td>Вес</td>
            <td>Количество</td>
            <td>Действие</td>
        </thead>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.ingredient.name }}</td>
                <td>{{ ingredient.weight }}</td>
                <td>{{ ingredient.count }}</td>
                <td>
                    <a href="{% url 'delete_recipe_ingredient' form.instance.id ingredient.id %}">Удалить</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                Ингредиентов пока нет.
            </tr>
        {% endfor %}
    </table>
    {% with data=form.instance %}
        {% if form.is_valid %}
            ID новой записи в БД: {{ data.id }}
            <a class="back-link" href="{% url 'recipe_detail' data.id %}">Назад к рецепту</a>
            <a href="{% url 'recipe_add' data.id %}">Добавить ингредиентик в рецептик мой любимый</a>
        {% endif %}
    {% endwith %}
{% endblock %}