<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Page description">
    <link rel="icon" href="fav.ico" type="image">
    {% load static %}
    <title>{% block title %}Site Title{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container header">
            <a class="header__link logo" href="{% url 'index'%}">MyRecipe</a>
            <a class="header__link" href="{% url 'ingredients'%}">Ингредиенты</a>
            <a class="header__link" href="{% url 'ingredient'%}">Добавить ингредиент</a>
            <a class="header__link" href="{% url 'recipe'%}">Добавить рецепт</a>
            <a class="header__link" href="{% url 'about'%}">О нас</a>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input class="logout-button" type="submit" value="Выйти">
                </form>
            {% else %}
                <a class="header__link" href="{% url 'login' %}">Войти</a>
            {% endif %}
            
        </div>

    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

    </main>

    <footer>
        <div class="container footer">&copy;2024</div>
    </footer>
</body>
</html>