body {
    position: relative;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

a{
    color: #000;
}

a:hover{
    color: #ff8138;
}

.ingredients_table{
    width: 40%;
    margin: 10px 0 0 0;
    border: 1px solid;
}
.ingredients_table td{
    border: 1px solid;
}

h1 {
    font-size: 40px;
    margin: 40px 0;
    font-weight: 700;
}

h2{
    font-size: 24px;
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 700;
}

.back-link{
    margin: 0 0 100px 40px;
    position: relative;
    color: #000;
}

.back-link:before{
    position: absolute;
    left: -45px;
    top: -8px;
    width: 40px;
    height: 40px;
    fill: #000;
    content: "";
    background-image: url("../images/back.svg");
}

header{
    background-color: #000000;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

main{
    padding-bottom: 100px;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    margin-top: 100px;
}

.header__link{
    color: #fff;
    font-size: 16px
}

.header__link:hover{
    opacity: 0.5;
}

.logo{
    font-size: 34px;
    position: relative;
    margin: 0 0 0 45px;
}

.logo:before{
    position: absolute;
    left: -45px;
    content: "";
    width: 36px;
    height: 36px;
    background-image: url("../images/logo.svg");
}

.recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 90%;
    margin: 0 auto;
}

.recipes__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    min-height: 200px;
    border: 1px solid #000;
    margin: 0 70px 20px 0;
    padding:20px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #000;
}

.recipes__item-img{
    width: 218px;
    height: 130px;
}

.recipes__item-link{
    color: #fff;
    margin: 10px 0 0;
}

.recipes__item-link:hover{
    opacity: 0.5;
}

.recipe-page__img{
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.recipe-page__description{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 45%);
}

.ingredients__item{
    margin: 0 0 10px 0;
}

.footer{
    color: #fff;
    min-height: 80px;
    display: flex;
    align-items: center;
}

.ingredient{
    display: flex;
    flex-direction: column;
}

.ingredient__item{
    border: 1px solid #ccc;
    padding: 15px;
}

.ingredient__item:hover{
    opacity: 0.5;
    cursor: pointer;
}

.ingredient__item:hover a{
    color: #ff8138;
}

.ingredient__item-link{
    color: #000;
}

.item-button{
    border-radius: 10px;
    border: 3px solid #000;
    padding: 10px 20px;
    margin: 50px 0 0;
}

input{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.logout-button{
    color: #fff;
}

.recipe_action_link{
    margin-left: 10px;
}